# Firebuster API
FIREBUSTER_URL=http://localhost:8000

# Keycloak Auth
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=Firebuster
KEYCLOAK_CLIENT_ID=firebuster-api

# Credentials (set your own values)
FB_USERNAME=your-username
FB_PASSWORD=your-password
